<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    
    124.217.243.100
        MySQL 5.1.48 Community Edition
        Determine MySQL Connection Version: version = System.Reflection.AssemblyName.GetAssemblyName("MySQL.Data.dll").Version
        encrypt DB password such as with HashPasswordForStoringInConfigFile
        localhost before 111.90.140.103 now 216.185.108.36

        kartris2_5009_WPI
        Fix Kartris\UserControls\Statistics\_KartrisChart.ascx.vb line 293 ASP.usercontrols_statistics__kartrischart_ascx -> UserControls_Back_KartrisChart
        SQL 2008 IP:localhost/127.0.0.1/gmorsecode.com/islamsource.info/216.185.108.36,25000 DB: DB3018_GMorseCode User: DB3018_GMorseCode Password: admin4tm
        Kartris Username: Admin Password: "  BAH=?};W "
        Connection StringData Source=216.185.108.36,25000;User ID=DB3018_GMorseCode;Password=admin4tm;Initial Catalog=DB3018_GMorseCode 
        Hash Salt Key:6ba85bbd-3a1c-40e8-91f8-c8d9b5b4f0ae Regime: US
        Comment out enable tracing in web.config and then comment out sections causing errors until there are no more errors
        Change tblKartrisConfig element general.uploadfolder for "~/"
        Go to /Kartris/Admin/Install.aspx and initial configuration, creating the Plugins folder in the wwwroot of the FTP server
        change all ~/ to ~/Kartris/ in kartris2_5009_WPI\*.* (most in *.asmx *.config *.sitemap *.aspx and *.aspx.vb *.vb *.svc *.master files but not in Images\*.jpg or Bin\*.dll)

        requires applicationHost.config configuration->system.applicationHost->sites->site->bindings->binding for https on *:443:, also command netsh http add sslcert hostnameport=localhost:58171 certhash=7fc2ed16a82bd3fbd99356ae9bbcf1323a4d6938 certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        add 127.0.0.1  truthmold.com and 127.0.0.1  gmorsecode.com and 127.0.0.1  islamsource.info to %windir%\system32\drivers\etc\hosts for testing
        netsh http add sslcert hostnameport=gmorsecode.com:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        netsh http add sslcert hostnameport=truthmold.com:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        netsh http add sslcert hostnameport=islamsource.info:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        netsh http add sslcert hostnameport=www.gmorsecode.com:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        netsh http add sslcert hostnameport=www.truthmold.com:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        netsh http add sslcert hostnameport=www.islamsource.info:58171 certhash=efcb9bf584880da34acfee3bf1b63150b9909c7a certstorename=MY appid={7BD08095-04C8-46F8-B558-3568C8BC95F5}
        appid=Assembly.GetExecutingAssembly().GetType().GUID.ToString()
        
    -->
    <add key="ipinfodbapikey" value="d452b17062afe911da0e115962d53747aaa7edb53f1fa42280497d467d79e0ce" />
    <add key="mysqldbserver" value="www.islamsource.info" />
    <add key="mysqldbuid" value="DB3018_ISUser" />
    <add key="mysqldbpwd" value="E4B5733F2B42A24C8EEB24F1F96FEC1314D79DBE60B8895CEC228E4E0357E1971561247C29F6C8558637E993126426DC03BF23B000EBC3296DB5C3199A0F3FD5" />
    <add key="mysqldbname" value="DB3018_IslamSource" />
    <add key="islamsourceadminname" value="IslamSource Administrator" />
    <add key="islamsourceadminemail" value="administrator@islamsource.info" />
    <add key="islamsourceadminemailpass" value="E4B5733F2B42A24C8EEB24F1F96FEC1314D79DBE60B8895CEC228E4E0357E1971561247C29F6C8558637E993126426DC03BF23B000EBC3296DB5C3199A0F3FD5" />
    <add key="islamsourcemailserver" value="mail.islamsource.info" />
    <add key="emailaddress" value="prog321@aol.com" />
    <add key="distinguishedname" value="CN=islamsource.info, O=GMorseCode, C=US, S=California, L=Los Angeles, OU=IT" />
    <add key="sitexmls" value="islamsource;GMorseCode;TruthMold;islamsource;GMorseCode;TruthMold" />
    <!-- first is the default -->
    <add key="docxml" value="persec.xml" />
    <add key="sitedomains" value="islamsource.info;gmorsecode.com;truthmold.com;islamsource.azurewebsites.net;gmorsecode.azurewebsites.net;truthmold.azurewebsites.net" />
    <add key="certextradomains" value="gmorsecode.com;truthmold.com;www.gmorsecode.com;www.truthmold.com" />
    <add key="alternatepath" value="..\" />
    <add key="authorname" value="greg.morse" />
    <add key="fbappid" value="241314199389208" />
    <add key="funclibs" value="IslamMetadata" />
    <add key="resources" value="HostPageUtility=Acct,lang,unicode;IslamResources=Hadith,IslamInfo,IslamSource;GMorseCodeResources=GMorseCode,TruthMold" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.0.3" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.TraceSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceProcess.ServiceController" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>